<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datastorehelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.DataStoreTest">
        <activity
            android:name="datastorehelper.TestActivity"
            android:label="Data Store">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="datastorehelper.TestDataStorePreferenceActivity" />
        <activity android:name="datastorehelper.TestProtoDataStoreActivity" />
        <activity android:name="datastorehelper.TestProtoDataStoreUserData" />
    </application>

</manifest>